/* Globals */
:root {
  --main-bg-color: rgb(59, 56, 56);
  --header-btn-hover: #3350c7;
  --bg-transparent: rgba(69, 70, 128, 0.719);
  --nav-form-bg: #080808a8;
  --article-figure-bg: #fff;
  --a-hover: rgba(88, 88, 245, 0.836);
  --a-on-dark-bg: #fff;
  --a-on-light-bg: #000;
  --h2-color: #fff;
  --nav-active-page: rgb(119, 236, 231);
  --section-article-figure-bg-color: #fff;
}

html {
  background: var(--main-bg-color) url("../images/background.jpg") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}

h2 {
  color: var(--h2-color);
}

/* Header */
#logoBanner {
  background-color: var(--bg-transparent);
}
header #nav,
header form {
  background-color: var(--nav-form-bg);
}
nav li.active {
  background-color: var(--nav-active-page);
}
#nav li:hover:not(.active) {
  background-color: var(--header-btn-hover);
}

#nav a {
  color: var(--a-on-dark-bg);
}

form input[type="submit"] {
  background-color: var(--header-btn-hover);
  color: white;
}

form input[type="submit"]:hover {
  background-color: #000;
}

/* Slideshow */

#slideshow {
  background-color: var(--section-article-figure-bg-color);
}

/* Next & previous buttons */
.prev,
.next {
  color: white;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Artist name */
.slidesContainer li h1,
.slidesContainer li p {
  color: #f2f2f2;
  background-color: rgb(5, 5, 131);
}

/*number indicators */

#pagination li {
  background-color: #bbb;
  transition: background-color 0.6s ease;
}

#pagination li:hover {
  background-color: #717171;
}

/* latest news, Album Reviews */
#latestNews li,
#albumReviews li {
  background-color: var(--article-figure-bg);
}

#latestNews h3 a,
#albumReviews h3 a {
  color: var(--a-on-light-bg);
}
#latestNews h3 a:hover,
#albumReviews h3 a:hover {
  color: var(--a-hover);
}

#latestNews .metaData a,
#albumReviews .metaData a {
  color: var(--a-on-light-bg);
  text-decoration: underline;
}

#latestNews .metaData a:hover,
#albumReviews .metaData a:hover {
  color: var(--a-hover);
}

/* Artists, Latest Photo */
#artists li,
#latestPhoto li {
  background-color: var(--article-figure-bg);
  border-bottom: 3px solid gray;
}

#artists li:hover,
#latestPhoto li:hover {
  background-color: var(--article-figure-bg);
  border-bottom: 3px solid var(--a-hover);
}

#artists figcaption a,
#latestPhoto figcaption a {
  color: var(--a-on-light-bg);
}
#artists figcaption a:hover,
#latestPhoto figcaption a:hover {
  color: var(--a-hover);
}

/* ASIDE */

/* Listen now */

#listenNow ul {
  background-color: var(--section-article-figure-bg-color);
}

/* Other stations */

.otherStations ul li {
  background-color: var(--section-article-figure-bg-color);
}

/* Ads */

#ads ul li {
  background-color: var(--section-article-figure-bg-color);
}
/* Followers */

#followersContainer {
  background-color: var(--section-article-figure-bg-color);
  color: rgba(129, 129, 129, 0.897);
}

#followersContainer header a {
  color: var(--a-hover);
}

#followBtn {
  background-color: #6586ab;
  color: white;
}
#followBtn:hover {
  background-color: #7599c2;
}
/* tooltip */

.followers li span {
  background-color: black;
  color: #fff;
}

/* footer */

footer {
  background-color: var(--bg-transparent);
  color: white;
}

footer #friends a {
  color: var(--a-on-dark-bg);
}
footer #friends a:hover {
  color: var(--a-hover);
}
#copyright {
  background-color: black;
  border-top: 2px solid blue;
}

@media screen and (min-width: 1015px) {
  #slideshow,
  main,
  aside {
    background-color: var(--bg-transparent);
  }
  #artists figure,
  #latestPhoto figure {
    background-color: var(--section-article-figure-bg-color);
  }
}
