/* Global */
html {
  background: url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
}
body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
a:visited {
  color: initial;
}
h2 {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

/* Mobile first */
.header .main {
  width: 90vw;
  margin: 0 auto;
}
.album__review__article h2 {
  margin: 0;
}
/* Basic header styles */
.header {
  background-color: rgba(29, 29, 27, 0.8);
  text-align: center;
}
.logo__container {
  background-color: rgba(44, 44, 42, 0.8);
  display: flex;
  place-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo {
  max-width: 200px;
}

/* Navigation */

.nav__list {
  padding: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.nav__list__dir {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.nav__list__dir:hover,
.btn--blue {
  background-color: rgb(22, 22, 146);
  cursor: pointer;
}
.nav__list__dir--current,
.nav__list__dir--current:hover {
  background-color: #18cecf;
}

/* Nav form */
form {
  padding-bottom: 10px;
}
.search__input {
  padding: 10px 150px 10px 10px;
  margin: 0;
  border: none;
}
.btn {
  padding: 10px;
  border: none;
  margin: 0;
  color: white;
}

/* Carousel */
.mySlides1,
.mySlides2,
.mySlides3 {
  display: none;
}

/* Slideshow container */
.slideshow__section__container {
  max-width: 100%;
  position: relative;
  margin: auto;
  padding: 10px;
  background-color: white;
}
.slideshow__container img {
  vertical-align: middle;
  width: 100%;
}

.slideshow__container {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

figure {
  border-bottom: 2px solid gray;
  line-height: 1rem;
}
/* Position the "next button" to the right */
.next {
  right: 10px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Artist name */
.artist__name {
  margin-top: 0;
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 10px;
  text-transform: uppercase;
  background-color: rgb(5, 5, 131);
}

/*number indicators */
.pagination {
  position: absolute;
  right: 15px;
  bottom: 20px;
}
.number {
  text-align: center;
  cursor: pointer;
  padding: 10px;
  margin: 0;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.number:hover {
  background-color: #717171;
}

/* Latest News and Album reviews */
.latest__news__article,
.album__review__article {
  background-color: #fff;
  text-align: start;
  color: #000;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.latest__news__article__headline {
  margin: 0;
}
/* Images with icons on hover */
.pic__container {
  position: relative;
  opacity: 0.7;
  text-align: center;
}

.pic__icons__container {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.pic__icons__container i {
  border: 1px solid black;
  font-size: 2.5rem;
  margin-left: 1rem;
  color: black;
  padding: 5px;

  background-color: white;
}
.pic__container:hover,
.pic__container:hover > * {
  opacity: 1;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

/* Name, comments, date for articles */

.name__comments__date,
.name__date {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.name__comments__date p,
.name__date p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.name__comments__date i,
.name__date i {
  margin-right: 0.3rem;
}

/* Artist and Latest Photo */

.artist__container,
.latest__photo__figure {
  background-color: white;
  color: black;
}

.artist__container figcaption,
.latest__photo__figure figcaption {
  padding-left: 10px;
  padding-bottom: 5px;
}
.artist__container img,
.latest__photo__figure img {
  max-width: 100%;
}

.artist__genre {
  color: rgba(82, 80, 80, 0.815);
}
.latest__photo__figure p {
  margin: 10px auto;
}

/* Blues events */

.blues__events {
  margin-bottom: 100px;
}

/* Listen now */

.listen__now {
  display: flex;
  place-content: center;
  background-color: white;
}
.listen__now a {
  display: inline-block;
  margin-left: 10px;
  height: 30px;
}

/* Followers */
.followers {
  width: 100%;
}
.followers__container {
  background-color: white;
  margin-top: 50px;
  color: rgba(129, 129, 129, 0.897);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 500px;
}
.followers__heading {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid rgba(240, 228, 228, 0.733);
}
.followers__heading a {
  color: blue;
}

.followers__logo {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.num__followers {
  margin-left: 20px;
}

.followers__avatars {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  width: 100%;
}
.followers__avatars img {
  border-radius: 50%;
}
.followers__button {
  max-width: 90%;
  padding: 10px 100px;
  margin-bottom: 10px;
  background-color: #6586ab;
  color: white;
  border-radius: 5px;
  border: none;
}
.followers__button:hover {
  background-color: #7599c2;
}
.followers__button i {
  margin-right: 10px;
}
/* tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip__text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltip__text {
  visibility: visible;
}

/* Music player */
.sticky__player {
  position: sticky;
  bottom: 0;
  background-color: black;
  text-align: center;
}

.sticky__player p {
  margin-top: 0;
}

.fa-stop {
  font-size: 1.5rem;
  padding: 7px;
  background-color: gray;
  border-radius: 50%;
  margin-left: -10px;
  margin-right: 20px;
}
.fa-sync {
  font-size: 1.5rem;
  padding: 7px;
  background-color: gray;
  border-radius: 50%;
}

.fa-play {
  font-size: 1.5rem;
  padding: 10px;
  background-color: gray;
  border-radius: 50%;
  margin-left: -10px;
}
.fa-volume-up {
  margin-right: 5px;
}

.refresh__play__pause {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.volume__control__container {
  display: flex;
  align-content: baseline;
  justify-content: center;
}
.volume__slider {
  margin: 0 0 5px 0;
}

.volume__slider {
  -webkit-appearance: none;

  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.volume__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4a3bd1;
  cursor: pointer;
}

.volume__slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4a3bd1;
  cursor: pointer;
}

/* about friends latest */
.about__friends__latest {
  background-color: rgba(34, 34, 47, 0.95);
  line-height: 2rem;
  padding: 10px;
}

.about__friends__latest a {
  color: white;
}
.about__friends__latest a:visited {
  color: white;
}
.latest__played,
.friends,
.about {
  margin-bottom: 50px;
}

/* Footer */

.copyright {
  width: 100%;
  background-color: black;
  height: 50px;
  border-top: 2px solid blue;
  margin: 0;
}
.copyright p {
  margin: 0;
}

/* Medium screens */

@media screen and (min-width: 700px) {
  .logo {
    width: 100%;
  }

  /* Nav  */

  .nav {
    width: 90%;
    margin: 0 auto;
  }

  form {
    text-align: right;
    padding-right: 10px;
  }

  /* Slideshow */
  .slideshow__section__container {
    padding: 30px;
  }

  .slideshow__container img {
    height: 300px;
  }

  .pagination {
    bottom: 40px;
    right: 40px;
  }

  .artist__name {
    top: 30px;
    left: 30px;
  }
  .next {
    right: 30px;
  }
  /* 90% width and center */
  .latest__news,
  .artists,
  .album__reviews,
  .blues__events,
  .latest__photo__container,
  aside,
  .about__friends__latest {
    width: 90%;
    margin: 0 auto;
  }
  /* Latest news */

  .pic__container {
    display: inline-block;
    padding: 10px 0 0 10px;
  }

  .name__comments__date {
    width: 75%;
  }

  /* Artists + Latest photo*/
  .artist__container,
  .latest__photo__figure {
    width: 200px;
    margin: 20px auto 0 auto;
  }
  .artist__container .pic__container,
  .latest__photo__figure .pic__container {
    padding: 0;
    max-width: 100%;
  }
  .artist__container .pic__icons__container i,
  .latest__photo__figure i {
    font-size: 1.5rem;
  }

  figcaption p,
  .latest__photo__figure p {
    font-size: 0.9rem;
    margin: 0;
  }
  /* Album reviews */

  .articles {
    display: flex;
    justify-content: space-between;
  }
  .album__review__article {
    width: 47%;
  }

  .album__review__article .pic__container {
    width: 100%;
    padding: 0;
  }
  .album__review__article img {
    width: 100%;
  }
  .album__review__article h2 {
    margin: 0;
  }
  .name__date {
    font-size: 0.9rem;
  }
  /* Followers */
  .followers__container {
    align-items: start;
    padding-left: 30px;
    height: 400px;
  }
  .followers {
    width: 50%;
    text-align: start;
  }

  /* about__friends__latest */

  .about__friends__latest {
    margin-top: 50px;
  }
  .sticky__player {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sticky__player p {
    margin-bottom: 10px;
  }
  .refresh__play__pause {
    margin-left: 20px;
  }
  .volume__control__container {
    margin-right: 20px;
  }

  .sticky__player__visible {
    position: absolute;
  }
}

@media screen and (min-width: 1000px) {
  body {
    width: 1015px;
    margin: 20px auto 0 auto;
  }
  main {
    background-color: rgba(34, 34, 47, 0.95);
    padding: 5px;
  }

  h2 {
    text-align: start;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  /* Logo */
  .logo__container {
    justify-content: flex-start;
  }
  .logo {
    margin-left: 10px;
    width: 100px;
  }
  /* Navigation */
  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
  }

  .nav__list {
    flex-direction: row;
    justify-content: space-between;
  }
  .nav__list__dir {
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .nav__list__dir--current {
    background-color: #fff;
    color: #000;
  }

  form {
    padding-bottom: 0;
  }
  .search__input {
    padding: 10px 50px 10px 10px;
    margin: 0;
    border: none;
  }
  .btn {
    padding: 10px;
    border: none;
    margin: 0;
    color: white;
  }
  /* Slideshow */
  .slideshow__section__container {
    padding: 15px;
  }

  .pagination {
    bottom: 30px;
    right: 30px;
  }

  .artist__name {
    top: 200px;
    left: 100px;
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .next {
    right: 15px;
  }
  /* main content */
  .main__content {
    display: flex;
  }
  .latest__news {
    margin: 0;
  }
  /* Latest news */
  .pic__container {
    padding: 0;
    margin-right: 10px;
    clear: both;
  }
  .pic__container img {
    width: 250px;
  }

  .picture__text {
    display: flex;
    font-size: 0.9rem;
  }

  /* Artist + latest photo*/
  .artists,
  .latest__photo__container {
    margin: 0;
  }
  .artist__container,
  .latest__photo__figure {
    background-color: rgb(235, 227, 227);
    margin-bottom: 10px;
  }
  .artists__container,
  .latest__photos__container {
    display: flex;
    background-color: #fff;
  }
  .latest__photo__figure:hover,
  .artist__container:hover {
    color: rgb(38, 38, 156);
    cursor: pointer;
    border-bottom: 2px solid rgb(38, 38, 156);
  }
  .artist__container .pic__icons__container i,
  .latest__photo__figure i {
    font-size: 1rem;
  }

  /* Album reviews */
  .album__reviews {
    margin: 0;
    text-align: center;
  }

  /* .about__friends__latest */
  .about__friends__latest {
    padding: 0;
    width: 100%;
    display: flex;
    margin-right: 0;
    margin-left: 0;
  }
  .about {
    margin-left: 10px;
    width: 50%;
  }
  .about * {
    width: 300px;
  }
  .friends__latest__played {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
  }

  /* followers */

  .followers__container {
    padding: 0;
    align-items: center;
  }

  .followers__button {
    width: 100%;
    padding: 10px 0 10px 0;
  }
  .followers {
    width: 100%;
  }
  .tooltip img {
    width: 40px;
  }
  /* Music player */
  .sticky__player__visible {
    background-color: black;
    position: absolute;
    right: 50px;
    bottom: 54px;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    padding-top: 0.5rem;
  }
  .sticky__player__visible i:nth-child(2) {
    margin-left: 10px;
  }

  .sticky__player__visible--red:hover {
    color: red;
  }
}
